################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/tra25Airplane/.vs
/tra25Airplane/webapp/obj/Debug
